amqp
asgiref
billiard.0
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
coreapi
coreschema
Django
django-celery-beat
django-rest-swagger
django-timezone-field
djangorestframework
djangorestframework-simplejwt
dnspython
drf-yasg
eventlet
greenlet
idna
itypes
Jinja2
kombu
MarkupSafe
openapi-codec
packaging-toolkit
PyJWT
pyparsing
python-crontab
python-dateutil
pytz
requests
ruamel.yaml
ruamel.yaml.clib
simplejson
six
sqlparse
uritemplate
urllib3
vine
wcwidth